
    <div class="container" style="margin-top:150px">
        <div class="thumbnail">
            <div class="row" style="padding-top:20px;margin-bottom: -10px;">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label style="font-size: 25px;color:white;" class="">Manage Product</label>
                    </div>
                </div>
            </div>
            <hr />    
            <div class="row" style="margin-top:30px;">
                <div class="col-xs-4"></div>
                <div class="col-xs-4" style="font-size: 19px;margin-bottom: 20px;margin-top: 10px;">You are not logged in or not authorized</div>
                <div class="col-xs-4"></div>
    
    
        </div>
    </div>
    </div>